body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex:1;
}

div {
  display: block;
}


h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.title-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card {
  width: 45%;
  display: block;
  /* display: inline-block; */
}

.card img {
  margin-bottom: 10px;
  width: 400px;
  float: left;
  display: inline;
  object-fit: cover; 
}
.card text {
  float: right;
}
.left {
  float: left;
  
}

.right {
  float: right;
}

.Creative {
  color: midnightblue;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }
  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover; 
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
}
